p
{
   background-color: blue;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: medium;
   text-align: justify;
}

img{
   width: 300px;
   font-weight: 600;
}

div