h1{
   color:aqua
}

.card{
   border: 3px solid #2d10ad;
   padding: 30px;
   border-radius: 13px;

}

.container{
   margin-top: 50px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   border-radius: 9px;
   gap: 20px;
}
